.body{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: space-between;
}

.link {
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 10vh;
}

.main {
    display: flex;
}

.linkzinho{
    text-decoration: none;
    color: brown;
}